<div class="" fxLayoutAlign="">
  <button mat-icon-button color="" (click)="changeView('list')">
    <mat-icon aria-label="Example icon-button with a heart icon">list</mat-icon>
  </button>
  <button mat-icon-button color="" (click)="changeView('card')">
    <mat-icon aria-label="Example icon-button with a heart icon">grid_on</mat-icon>
  </button>
</div>
<ng-container [ngSwitch]="view">
  <ng-container *ngSwitchCase="'card'">
    <!--<ng-container *ngFor="let item of items">-->
      <!--<ng-container *ngTemplateOutlet="appDetailTemplate">hghghg</ng-container>-->
      <app-patient-card [patient]="patient" [view]="view" ></app-patient-card>
    <!--</ng-container>-->
  </ng-container>
  <ng-container *ngSwitchCase="'list'">
    <app-patient-list [view]="view"  (onSelectItemEvent)="onSelectItem($event)" ></app-patient-list>
  </ng-container>
</ng-container>
